<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrivées</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="arrivees.css">
    <link rel="stylesheet" href="arrivees-departs.css">
</head>
<body>
    <table id="liste-trains">
            <tr class="clair train">
                <td class="operateur">
                    <img src="assets/logo/sncf.png">
                </td>
                <td class="etat">à&nbsp;l'heure</td>
                <td class="heure">15h43</td>
                <td class="destination">Tours</td>
                <td class="voie">
                    <img src="assets/voie/2.png">
                </td>
            </tr>
            <tr class="clair train-arrets">
                <td></td>
                <td class="arrets" colspan="4">Futuroscope . Châtellerault . Tours</td>
            </tr>
            <tr class="train">
                <td class="operateur">
                    <img src="assets/logo/sncf.png">
                </td>
                <td class="etat" style="color: var(--jaune)">retard 30&nbsp;min.</td>
                <td class="heure">15h47</td>
                <td class="destination">Bordeaux St Jean</td>
                <td class="voie">
                    <img src="assets/voie/16.png">
                </td>
            </tr>
        </div>
    </table>


    <script src="arrivees.js"></script>
    <script src="horloge.js"></script>
    <script src="arrivees-departs.js"></script>
</body>
</html>