<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Départs</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="departs.css">
    <link rel="stylesheet" href="arrivees-departs.css">
</head>
<body>
    <table id="liste-trains">
    </table>

    <p id="filigrane">départs</p>

    <div id="flash-bas">
        <p id="flash-texte"></p>
    </div>

    <script type="module" src="departs.js"></script>
    <script src="horloge.js"></script>
</body>
</html>