<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Départs</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="departs.css">
    <link rel="stylesheet" href="arrivees-departs.css">
</head>
<body>
    <p class="filigrane">départs</p>
    <div class="train pair">
        <div class="haut">
            <div class="operateur-logo">
                <img src="assets/icones/sncf.png">
            </div>
            <div class="etat-num">à l'heure</div>
            <div class="heure">22h52</div>
            <div class="destination">Offenburg</div>
            <div class="voie">
                <img src="assets/icones/voie/31.png">
            </div>
        </div>
        <div class="bas">
            <div class="logo-space" aria-hidden="true"></div>
            <p class="liste-arrets">Strasbourg <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Metz <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Reims</p>
        </div>
    </div>
    <div class="train">
        <div class="haut">
            <div class="operateur-logo">
                <img src="assets/icones/sncf.png">
            </div>
            <div class="etat-num">à l'heure</div>
            <div class="heure">23h02</div>
            <div class="destination">Paris Gare de Lyon</div>
            <div class="voie">
                <img src="assets/icones/voie/3.png">
            </div>
        </div>
        <div class="bas">
            <div class="logo-space" aria-hidden="true"></div>
            <p class="liste-arrets">Strasbourg <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Metz <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Reims</p>
        </div>
    </div>
    <div class="train pair">
        <div class="haut">
            <div class="operateur-logo">
                <img src="assets/icones/sncf.png">
            </div>
            <div class="etat-num">à l'heure</div>
            <div class="heure">23h02</div>
            <div class="destination">Paris Gare de Lyon</div>
            <div class="voie">
                <img src="assets/icones/voie/3.png">
            </div>
        </div>
        <div class="bas">
            <div class="logo-space" aria-hidden="true"></div>
            <p class="liste-arrets">Strasbourg <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Metz <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Reims</p>
        </div>
    </div>
    <div class="train">
        <div class="haut">
            <div class="operateur-logo">
                <img src="assets/icones/sncf.png">
            </div>
            <div class="etat-num">à l'heure</div>
            <div class="heure">23h02</div>
            <div class="destination">Paris Gare de Lyon</div>
            <div class="voie">
                <img src="assets/icones/voie/3.png">
            </div>
        </div>
        <div class="bas">
            <div class="logo-space" aria-hidden="true"></div>
            <p class="liste-arrets">Strasbourg <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Metz <span class="sep"><svg width="30" height="30" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><circle cx="6" cy="6" r="3.2" style="fill: var(--jaune);"/></svg></span> Reims</p>
        </div>
    </div>
    


    <script src="departs.js"></script>
</body>
</html>