<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash circulation</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="flash.css">
</head>
<body>
    <div id="titre">
        <p><span id="s1">flash</span><br><span id="s2">circulation</span></p>
    </div>
    <div id="message">
        <p id="msg-texte">EN RAISON DE TRAVAUX REALISES PAR SNCF RESEAU, LA CIRCULATION DES TRAINS EST INTERROMPUE ENTRE MARSEILLE ET AUBAGNE ET, EST FORTEMENT PERTURBEE ENTRE MARSEILLE ET NICE DU SAMEDI 16 AU LUNDI 18 AVRIL 8H20 <br>MERCI DE REPORTER VOTRE VOYAGE.</p>
    </div>

    <script src="flash.js"></script>
</body>
</html>