<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash circulation</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="flash.css">
</head>
<body>
    <div id="titre">
        <p><span id="s1">flash</span><br><span id="s2">circulation</span></p>
    </div>
    
    <div id="message" style="cursor: pointer;">
        <p id="msg-texte">Entrer votre message</p>
    </div>

    <script src="flash-custom.js"></script>
    <script src="horloge.js"></script>
</body>
</html>