<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affichage SNCF</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Affichage SNCF</h1>
    <div id="btn-container">
        <a href="departs">
            <div class="btn" id="btn-departs">Départs</div>
        </a>
        <a href="arrivees">
            <div class="btn" id="btn-arrivees">Arrivées</div>
        </a>
        <a href="flash">
            <div class="btn" id="btn-flash">Flash</div>
        </a>
    </div>


    <script src="main.js"></script>
</body>
</html>