<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affichage SNCF</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Affichage SNCF</h1>
    <div class="btn-container">
        <a href="departs">
            <div class="btn" id="btn-departs">Départs</div>
        </a>
        <a href="arrivees">
            <div class="btn" id="btn-arrivees">Arrivées</div>
        </a>
        <div id="flash-container" class="btn">
            <a href="flash">
                <div class="btn btn-flash" id="flash-btn">Flash</div>
            </a>
            <a href="customflash">
                <div class="btn btn-flash" id="custom-flash-btn">Flash custom</div>
            </a>
        </div>
    </div>

    <div class="btn-container">
        <a href="">
            <div class="btn" id="btn-edit">Edit</div>
        </a>
        <a href="">
            <div class="btn" id="btn-edit-flash">Edit Flash</div>
        </a>
    </div>


    <script src="main.js"></script>
</body>
</html>