body {
    color: white;
    margin: 0;
}

#liste-trains {
    width: 100%;
    border-collapse: collapse;
}

.train td {
    padding: 15px 20px;
}

.voie {
    padding-right: 15px !important;
}

.train-arrets td {
    padding: 0 0 15px 20px;
}

.operateur, .voie {
    text-align: center;
    vertical-align: middle;
}

.operateur img, .voie img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 1.1em;
}

.destination {
    width: 100%;
    text-align: left;
}

.destination, .operateur, .voie {
    font-size: 80px;
}

.etat, .heure {
    font-family: 'AchemineBold';
}

.etat {
    font-size: 30px;
}

.heure {
    color: var(--jaune);
    font-size: 60px;
}

.operateur {
    padding-left: 30px !important;
}

.arrets {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7)
}

.sep {
    width: 0.3em;
    padding-inline: 15px;
}

#filigrane {
    margin: 0;
    position: fixed;
    transform: rotate(-90deg);
    bottom: 420px;
    right: -335px;
    font-family: 'AchemineBold';
    font-size: 270px;
    opacity: 0.25;
}